body {
  background-image: url("../images/logobackground.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Futura';
  margin: 0;
}

.container {
  padding-bottom: 500px;
  height: 100%;
  overflow: auto;
  margin: 0 5%;
}

header {
  width: 100%;
  position: fixed;
  border-bottom: solid 5px #00A2E2;
  overflow: auto;
  background-color: black;
}
.headerlogo {
  float: left;
  width: 44%;
  margin: 10px 3%;
}

.headerright {
  font-size: 14px;
  text-align: right;
  float: right;
  width: 50%;
  color: white;
  margin: 10px 0;
  display: inline-block;
}

.headerright:nth-of-type(2) {
  position: absolute;
  bottom: 0;
}

.headerright > p {
  margin: 0 5%;
}


.headerright a:link {
  text-decoration: none;
  color: #F0F0F0;
}

.headerright a:active {
  text-decoration: none;
  color: white;
}

.headerright a:visited {
  text-decoration: none;
  color: #D8D8D8;
}

.headerright a:hover {
  text-decoration: underline;
  color: white;
}

a:link {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: black;
}

nav {
  width: 100%;
  float: right;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  float: right;
}

li {
  font-size: 16px;
  display: inline;
  margin-right: 5%;
}

.clear {
  width: 100%;
  border-bottom: solid 5px #00A2E2;
  overflow: auto;
  background-color: black;
}

.cart {
  text-align: right;
  float: right;
  position: fixed;
  right:  0;
  padding: 0 2.5%;
}

#cartbutton {
  margin: 0;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  border-top: none;
  cursor: pointer;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: right;
}

tr {
  background-color: rgba(255, 255, 255, .5);;
  display: none;
}
td {
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
}

footer {
  padding: 10px 0;
  text-align: center;
  width: 100%;
  background-color: black;
  clear: both;
}

footer:nth-of-type(2) {
  background-color: white;
}

article {
  flex-grow: 1;
  padding: 2%;
  margin: 0 auto;
  float: left;
  width:calc(88% / 3);
}

.shirtimg {
  width: 100%;
}

.singleshirtimg {
  margin: 5%;
  width: 90%;
}

section {
  float: left;
  width: 50%;
}

@media only screen and (max-width: 500px){
  article {
    width: 100%;
  }
}
// Base styles
@import 'components/base';
@import 'components/form';
@import 'components/buttons';

// Pages
@import 'pages/login';
