<div id='addpage'>

  <h3>Add A Product</h3>
  <form action="/admin/product/add" method="post">
    <table>
      <tbody>
        <tr><td>designs.name</td><td><input type='text' name='designs_name'></td></tr>
        <tr><td>sizes.size</td><td><input type='text' name='sizes_size'></td></tr>
        <tr><td>colors.color</td><td><input type='text' name='colors_color'></td></tr>
        <tr><td>quantity</td><td><input type='text' name='quantity'></td></tr>
        <tr><td>price</td><td><input type='text' name='price'></td></tr>
        <tr><td>shirtImageUrl.url</td><td><input type='text' name='shirtImageUrl_url'></td></tr>

        <tr><td></td><td><input type="submit" value="Submit"></td></tr>
      </tbody>
    </table>
  </form>

</div>
