body {
  background-image: url("../images/logobackground.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Futura';
  margin: 0;
}

.clear {
  width: 100%;
  height: 10%;
  padding: 10px 3%;
  overflow: auto;
  border-bottom: solid 5px #00A2E2;
}

header {
  width: 100%;
  position: fixed;
  border-bottom: solid 5px #00A2E2;
  padding: 10px 3%;
  overflow: auto;
  background-color: black;
}

.logoicon {
  display: block;
}

.container {
  overflow: auto;
  margin: 0 5%;
}

footer {
  padding: 10px 0;
  text-align: center;
  width: 100%;
  background-color: black;
  clear: both;
}

footer:nth-of-type(2) {
  background-color: white;
}

article {
  flex-grow: 1;
  padding: 2%;
  margin: 0 auto;
  float: left;
  width:calc(88% / 3);
}

.shirtimg {
  width: 100%;
}

.singleshirtimg {
  margin: 5%;
  width: 90%;
}

section {
  float: left;
  width: 50%;
}

@media only screen and (max-width: 500px){
  article {
    width: 100%;
  }
}
