<div class='checkout'>
  <h1>Checkout</h1>
  <h2>Shipping and Credit Card Information</h2>


  <form action="/checkout" method="POST" id="payment-form">
    <span class="payment-errors"></span>

    <table>
      <tbody>

        <tr>
          <td>
            <span>Street Address</span>
          </td>
          <td>
            <input type="text" size="20" name='address'/>
          </td>
        </tr>
        <tr>
          <td>
            <span>City</span>
          </td>
          <td>
            <input type="text" size="20" name='city'/>
          </td>
        </tr>
        <tr>
          <td>
            <span>State</span>
          </td>
          <td>
            <input type="text" size="20" name='state'/>
          </td>
        </tr>
        <tr>
          <td>
            <span>Zip Code</span>
          </td>
          <td>
            <input type="text" size="20" name='zip'/>
          </td>
        </tr>
        <tr>
          <td>
            <span>Card Number</span>
          </td>
          <td>
            <input type="text" size="20" data-stripe="number"/>
          </td>
        </tr>
        <tr>
          <td>
            <span>CVC</span>
          </td>
          <td>
            <input type="text" size="4" data-stripe="cvc"/>
          </td>
        </tr>
        <tr>
          <td>
            <span>Expiration (MM/YYYY)</span>
          </td>
          <td>
            <input type="text" size="2" data-stripe="exp-month"/>
            <span> / </span>
            <input type="text" size="4" data-stripe="exp-year"/>
          </td>
        </tr>

      </tbody>
    </table>

    <button type="submit">Submit Payment</button>
  </form>
</div>
