{{#shirts}}
<article class="shirt">
  <a href="/shirt/{{id}}"><img class='shirtimg' src="{{url}}" /></a>
  <div class="shirtinfo">
    ${{price}}

    <a href="/shirt/{{design}}">Details</a>

  </div>
</article>
{{/shirts}}
