<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <header>
    <div class='logoicon'><a href="/">
      <img style="width:10%" src="../images/logoiconwhite.png" />
      <img style="width:25%" src="../images/logotype.png" />
    </div>
  </a>

    <div class='logotype'>
    </div>

  </header>
  <div class='clear'>
    <img style="width:10%" src="../images/logoiconwhite.png" />

  </div>
  <div class='container'>
    {{{body}}}
  </div>
  <footer>
    <a href="/"><img style='width:10%' src="../images/logoiconwhite.png" alt="" /></a>
  </footer>
  <footer>Flight Switch &copy 2016</footer>
</body>
</html>
