.message, .success, .error {
  margin-top: 20px;
  padding: 10px 10px 10px 20px;
  border-radius: 3px;
  box-sizing: border-box;
  list-style: none; }
  .message li, .success li, .error li {
    color: white; }

.success {
  background-color: rgba(102, 190, 98, 0.8); }

.error {
  background-color: rgba(190, 98, 98, 0.8); }

body {
  background-image: url("../images/logobackground.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Futura';
  margin: 0; }

.container {
  padding-bottom: 500px;
  height: 100%;
  overflow: auto;
  margin: 0 5%; }

header {
  width: 100%;
  position: fixed;
  border-bottom: solid 5px #00a2e2;
  overflow: auto;
  background-color: black; }

.headerlogo {
  float: left;
  width: 44%;
  margin: 10px 3%; }

.headerright {
  font-size: 14px;
  text-align: right;
  float: right;
  width: 50%;
  color: white;
  margin: 10px 0;
  display: inline-block; }

.headerright:nth-of-type(2) {
  position: absolute;
  bottom: 0; }

.headerright > p {
  margin: 0 5%; }

.headerlogo a {
  text-decoration: none; }

.headerright a:link {
  text-decoration: none;
  color: white; }

.headerright a:active {
  text-decoration: none;
  color: white; }

.headerright a:visited {
  text-decoration: none;
  color: #00A2E2; }

.headerright a:hover {
  text-decoration: underline;
  color: white; }

a:link {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: underline;
  color: #00A2E2; }

td a {
  text-decoration: none;
  color: black; }

nav {
  width: 100%;
  float: right; }

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  float: right; }

li {
  font-size: 16px;
  display: inline;
  margin-right: 5%; }

.clear {
  width: 100%;
  border-bottom: solid 5px;
  overflow: auto;
  background-color: black; }

footer {
  overflow: auto;
  padding: 5px 0;
  text-align: center;
  width: 100%;
  background-color: black; }

footer > p {
  margin-bottom: 20px;
  font-size: 12px;
  display: inline;
  color: white; }

article {
  padding: 2%;
  margin: 0 auto;
  float: left;
  width: calc(88% / 3); }

.shirtimg {
  width: 100%; }

.singleshirtimg {
  margin: 5%;
  width: 90%; }

section {
  float: left;
  width: 50%; }

@media only screen and (max-width: 550px) {
  article {
    width: 100%; } }

form {
  text-align: center; }
  form input {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid gray;
    margin: 0 auto;
    font-size: 15px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    cursor: pointer; }
    form input:last-child {
      margin-bottom: 0; }

.button {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: white; }

.yellow {
  background-color: #ffe816;
  color: black; }
  .yellow:hover {
    background-color: #ecd500; }

.blue {
  background-color: #00a2e2; }
  .blue:hover {
    background-color: #00A2E2; }

.cart {
  text-align: right;
  float: right;
  position: fixed;
  right: 0;
  padding: 0 2.5%; }
  .cart #cartbutton {
    border-radius: 0 0 3px 3px;
    margin: 0;
    padding: 8px;
    background-color: #00a2e2;
    color: white;
    border-top: none;
    cursor: pointer; }
    .cart #cartbutton i {
      font-size: 1.5em; }
    .cart #cartbutton span {
      padding-left: 6px;
      font-size: .8em; }
  .cart table {
    background-color: #C7C7C7;
    border-collapse: collapse; }
  .cart tbody {
    border: 1px solid gray;
    border-top: none;
    text-align: right;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    display: none; }
  .cart td {
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box; }
  .cart th {
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box; }
  .cart tr {
    border-top: 1px solid gray;
    text-align: left; }

.login {
  margin: 80px auto 0;
  max-width: 400px; }
  .login h3 {
    color: white;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid white;
    font-weight: normal;
    font-size: 1.5em; }
  .login form {
    padding: 10px 50px 50px 50px;
    background-color: rgba(139, 139, 139, 0.7);
    border-radius: 5px;
    box-shadow: 0 0 10px black; }
    .login form input {
      width: 100%; }
  .login p {
    width: 100%;
    text-align: center; }
  .login .google-button {
    height: 50px; }
    .login .google-button img {
      height: 100%; }

#adminpage td {
  text-align: left; }

#adminmenu {
  float: left;
  box-sizing: border-box;
  border: 1px solid grey;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
  width: 15%; }

#admindisplay {
  padding: 3%;
  float: right;
  width: 75%; }

#ordersshow {
  display: none; }

#usersshow {
  display: none; }

.addpage tbody {
  text-align: left; }

#admindisplay form {
  text-align: left; }

.menuitem {
  padding: 20px 0 20px 10px;
  cursor: pointer; }

.checkout td {
  text-align: left; }
