#adminpage td {
  text-align: left;
}

#adminmenu {
  float: left;
  box-sizing: border-box;
  border: 1px solid grey;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
  width: 15%;
}

#admindisplay {
  padding: 3%;
  float: right;
  width: 75%;
}

#productsshow {
}

#ordersshow {
  display: none;
}

#usersshow {
  display: none;
}

.addpage tbody {
text-align: left
}

#admindisplay form {
  text-align: left;
}

#admindisplay input {
  margin-bottom: 10px;
  width: 100%;

}

select {
  height: 40px;

}

.menuitem {
  padding: 20px 0 20px 10px;
  cursor: pointer;
}

.collapse-button {

  &:hover {
    cursor: pointer;
  }
  display: flex;
  align-items: center;
  background-color: rgb(208, 208, 208);
  span{
    padding: 0 10px;
  };
  border-bottom: 2px solid rgb(111, 111, 111);
}

.collapsable {
  margin-bottom: 20px;
  display:none;
}
