$accent-blue: rgb(0, 162, 226);
$accent-blue-hover: #0684b5;
$accent-yellow: rgb(255, 232, 22);
$accent-yellow-hover: rgb(236, 213, 0);
$background-gray: #C7C7C7;


.error {
  li {
    display:block;
    margin: 10px 30px;
  }
}

.shirt-sizes {
  font-size: .9em;
  width: 105px;
  float: right;
  li {
    font-size: .9em;
  }
}

.message {
  margin-top: 20px;
  padding: 10px 10px 10px 20px;
  border-radius: 3px;
  box-sizing: border-box;
  list-style: none;
  li {
    color: white;
  };
}
.success{
  @extend .message;
  background-color:rgba(102, 190, 98, .8);
}

.error{
  @extend .message;
  background-color:rgba(190, 98, 98, .8);
}

body {
  background-image: url("../images/logobackground.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Futura';
  margin: 0;
}

.container {
  padding-bottom: 50px;
  height: 100%;
  overflow: auto;
  margin: 0 5%;
}

header {
  width: 100%;
  position: fixed;
  border-bottom: solid 5px $accent-blue;
  overflow: auto;
  background-color: black;
}
.headerlogo {
  float: left;
  width: 44%;
  margin: 10px 3%;
}

.headerright {
  font-size: 14px;
  text-align: right;
  float: right;
  width: 50%;
  color: white;
  margin: 10px 0;
  display: inline-block;
}

.headerright:nth-of-type(2) {
  position: absolute;
  bottom: 0;
}

.headerright > p {
  margin: 0 5%;
}

.headerlogo a {
  text-decoration: none;
}

.headerright a:link {
  text-decoration: none;
  color: white;
}

.headerright a:active {
  text-decoration: none;
  color: white;
}

.headerright a:visited {
  text-decoration: none;
  color: $accent-blue-hover;
}

.headerright a:hover {
  text-decoration: underline;
  color: white;
}

a:link {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: white;
}

td a {
  text-decoration: none;
  color: black;
}
th {
}

nav {
  width: 100%;
  float: right;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  float: right;
}

li {
  font-size: 16px;
  display: inline;
  margin-right: 5%;
}

.clear {
  width: 100%;
  border-bottom: solid 5px;
  overflow: auto;
  background-color: black;
}

footer {
  overflow: auto;
  padding: 5px 0;
  text-align: center;
  width: 100%;
  background-color: black;
}

footer > p {
  margin-bottom: 20px;
  font-size: 12px;
  display: inline;
  color: white;
}

article {
  padding: 2%;
  margin: 0 auto;
  float: left;
  width:calc(88% / 3);
}

.shirtimg {
  width: 100%;
}

.singleshirtimg {
  margin: 5%;
  width: 90%;
}

section {
  float: left;
  width: 50%;
}


@media only screen and (max-width: 550px){
  article {
    width: 100%;
  }
}
