$accent-blue: rgb(0, 162, 226);
$accent-blue-hover: rgb(3, 132, 184);
$accent-yellow: rgb(255, 232, 22);
$accent-yellow-hover: rgb(236, 213, 0);

body {
  background-image: url("../images/logobackground.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Futura';
  margin: 0;
}

.container {
  padding-bottom: 500px;
  height: 100%;
  overflow: auto;
  margin: 0 5%;
}

header {
  width: 100%;
  position: fixed;
  border-bottom: solid 5px $accent-blue;
  overflow: auto;
  background-color: black;
}
.headerlogo {
  float: left;
  width: 44%;
  margin: 10px 3%;
}

.headerright {
  font-size: 14px;
  text-align: right;
  float: right;
  width: 50%;
  color: white;
  margin: 10px 0;
  display: inline-block;
}

.headerright:nth-of-type(2) {
  position: absolute;
  bottom: 0;
}

.headerright > p {
  margin: 0 5%;
}


.headerright a:link {
  text-decoration: none;
  color: $accent-blue-hover;
}

.headerright a:active {
  text-decoration: none;
  color: white;
}

.headerright a:visited {
  text-decoration: none;
  color: $accent-blue-hover;
}

.headerright a:hover {
  text-decoration: underline;
  color: white;
}

a:link {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: black;
}

nav {
  width: 100%;
  float: right;
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  float: right;
}

li {
  font-size: 16px;
  display: inline;
  margin-right: 5%;
}

.clear {
  width: 100%;
  border-bottom: solid 5px;
  overflow: auto;
  background-color: black;
}

.cart {
  text-align: right;
  float: right;
  position: fixed;
  right:  0;
  padding: 0 2.5%;
}

#cartbutton {
  margin: 0;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  border-top: none;
  cursor: pointer;
}

.cart > table {
  border: 1px solid black;
  text-align: right;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(255, 255, 255, .7);
  display: none;
}

.cart > table {

}

td {
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
}

footer {
  overflow: auto;
  padding: 5px 0;
  text-align: center;
  width: 100%;
  background-color: black;
}

footer > p {
  margin-bottom: 20px;
  font-size: 12px;
  display: inline;
  color: white;
}

article {
  flex-grow: 1;
  padding: 2%;
  margin: 0 auto;
  float: left;
  width:calc(88% / 3);
}

.shirtimg {
  width: 100%;
}

.singleshirtimg {
  margin: 5%;
  width: 90%;
}

section {
  float: left;
  width: 50%;
}

@media only screen and (max-width: 500px){
  article {
    width: 100%;
  }
}
