.button {
  &:hover{
    text-decoration: none;
    background-color: $accent-gray-hover;
    border: 1px solid black;
  }
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border-radius: 3px;
}



.yellow {
  &:hover {
    background-color: $accent-yellow-hover;
  }
  background-color: $accent-yellow;
  color: black;
}

.blue {
  &:hover {
    background-color: $accent-blue-hover;
  }
  background-color: $accent-blue;
  color: white;
}
