form {
  text-align:center;

  input {
    padding: 10px;
    border-radius: 3px;
    border:1px solid gray;
    margin: 0 auto;
    font-size: 15px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
