form {
  text-align:center;

  input {
    padding: 10px;
    border-radius: 3px;
    border:1px solid gray;
    margin: 0 auto;
    font-size: 15px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
}

#addpage input {
  margin-bottom: 15px;
}

#addpage tbody {
text-align: left;
}

select {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
}
