


<div class='login'>
  {{#if error}}
  {{error}}
  {{/if}}
<form action="/auth/login" method="post">
        <h3>Please Log In</h3>
        <input type="text" class="text-input" name="email" value="" placeholder="Email" required autofocus>
        <input type="password" class="text-input" name="password" value="" placeholder="Password" required>
    <input class='button blue' type="submit" value="Log-in">
</form>
<p class='info'>Need an account? <a href='/register'>Sign Up</a></p>
</div>
