<div class="login">
  <form action="/auth/login" method="post">
    <h3>Please Log In</h3>
    <input type="text" name='email' value='' placeholder="Email" required autofocus>
    <input type="password" name="password" value="" placeholder="Password" required >
    <input class='button blue' type="submit" name="name" value="Log In">
  </form>
</div>
