<div class="login">
  <div class='form-wrapper'>
    <form action="/auth/signup" method="post">
      <h3 class='page-title'>Register</h3>
      <input type="text" class="text-input" name="firstName" value="" required placeholder="First Name">
      <input type="text" class="text-input" name="lastName" value="" required placeholder="Last Name">
      <input type="text" class="text-input" name="email" value="" required placeholder="Email">
      <input type="password" class="text-input" name="password" value="" required placeholder="Password">
      <input class="button blue" type="submit" value="Sign Up">
    </form>
  </div>
    <p class="google-button"><a href="/auth/google"><img src="/images/google-sign-in-button.png" alt="" /></a></p>
</div>
